# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.sqlite3
*.db

# Virtual environment
venv/
env/
.venv/
.env/

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Mypy, coverage, pytest
.mypy_cache/
.coverage
htmlcov/
.pytest_cache/
